
* {
    box-sizing: border-box;
    
    
}

body{
    margin: 100px;
}

/* Header and navbar*/ 
.header {
    background-color:#1F2937;
}

.text h1{
    color: #F9FAF8;
    font-size: 48px;
    
}

.text p{
    color: #E5E7EB;
}

.navbar{
    float: right;
}

ul li{
    display: inline;
}




/* Main section*/ 

.image-row {
    display: flex;
    margin: 50px;
}


.item{
    flex: 25%;
    padding: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
}


.image-text{
    font-size: 0.9em;
}

