
* {
    box-sizing: border-box;
    
}

body{
    margin: 50px;
}

/* Header and navbar*/ 
.navbar{
    float: right;
}

ul li{
    display: inline;
}


/* Main section*/ 

.image-row {
    display: flex;
}

.item{
    flex: 25%;
    padding: 5px;
    width: 350px;
    height: 150px;
    text-align: center;
}


.image-text{
    font-size: 1.0em;
}

