
* {
    box-sizing: border-box;
    border: 1px solid red;
    
    
    
}

body{
    margin: 100px;
}

/* Header and navbar*/ 
.header {
    background-color:#1F2937;
    padding: 20px;
}



.logo{
    color: #F9FAF8;
    margin: 20px;
   
}
.navbar a{
    color: #F9FAF8;
}

.header-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.header-item {
    padding: 20px;
    text-align: center;
}

.text h1{
    color: #F9FAF8;
    font-size: 48px;
    
}

.text p{
    color: #E5E7EB;
}

.navbar{
    float: right;
}

ul li{
    display: inline;
}




/* Main section*/ 

.main{
    text-align: center;
}

.image-row {
    display: flex;
    margin: 50px;
}


.item{
    flex: 25%;
    padding: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
}


.image-text{
    font-size: 0.9em;
}

.container-quote{
    background-color: #E5E7EB;
    text-align: center;
    padding: 10px;
    
}

.container-quote h2{
    float: right;
    

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.container {
    overflow: auto; /* or hidden, scroll, etc. */
}

.container a{
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    color: white;
    padding: 10px;
    
}

.footer{
    background-color:#1F2937 ;
    color: white;
    text-align: center;
}

